# Titanic - Machine Learning from Disaster

We'll use **machine learning** to create a model that predicts which passengers survived the Titanic shipwreck.

### 1. Importing Needed packages

In [2]:
import pandas as pd
import numpy as np
from sklearn import linear_model

### 2. Importing Dataset and normalizing data

In [71]:
data= pd.read_csv("train.csv")
test=pd.read_csv("test.csv")
data.dropna(inplace=True)

data["Sex"].replace("male",0,inplace=True)
data["Sex"].replace("female",1,inplace=True)
test["Sex"].replace("male",0,inplace=True)
test["Sex"].replace("female",1,inplace=True)
test["Age"].fillna(test["Age"].median(),inplace=True)
test_ids=test["PassengerId"]
test.describe()

,PassengerId,Pclass,Sex,Age,SibSp,Parch,Fare
count,418.000000,418.000000,418.000000,418.000000,418.000000,418.000000,417.000000
mean,1100.500000,2.265550,0.363636,29.599282,0.447368,0.392344,35.627188
std,120.810458,0.841838,0.481622,12.703770,0.896760,0.981429,55.907576
min,892.000000,1.000000,0.000000,0.170000,0.000000,0.000000,0.000000
25%,996.250000,1.000000,0.000000,23.000000,0.000000,0.000000,7.895800
50%,1100.500000,3.000000,0.000000,27.000000,0.000000,0.000000,14.454200
75%,1204.750000,3.000000,1.000000,35.750000,1.000000,0.000000,31.500000
max,1309.000000,3.000000,1.000000,76.000000,8.000000,9.000000,512.329200

### 3. Simple Regression Model

Linear Regression fits a linear model with coefficients B = (B1, ..., Bn) to minimize the 'residual sum of squares' between the actual value y in the dataset, and the predicted value yhat using linear approximation.

In [8]:
linea=linear_model.LinearRegression()
x_t=np.asanyarray(data[["Pclass","Sex","Age","SibSp","Parch"]])
y_t=np.asanyarray(data["Survived"])
linea.fit(x_t,y_t)

print("Coefficient:",linea.coef_)
print ('Intercept: ',linea.intercept_)

y_=linea.predict(test[["Pclass","Sex","Age","SibSp","Parch"]])
x=np.asanyarray(test[["Pclass","Sex","Age","SibSp","Parch"]])
submission_preds=np.round(linea.predict(x),0)

Coefficient: [-0.09639983  0.49457377 -0.00578526  0.03080681 -0.04160372]
Intercept:  0.7530729994245616

c:\Users\Hiros\anaconda3\envs\Hiroshi1\lib\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but LinearRegression was fitted without feature names
  warnings.warn(

**Coefficient** and **Intercept** in the simple linear regression are the parameters of the fit line.
Given that it is a simple linear regression, with only 2 parameters, and knowing that the parameters are the intercept and slope of the line, sklearn can estimate them directly from our data.
Notice that all of the data must be available to traverse and calculate the parameters.

#### 4. Save output

In [78]:
df=pd.DataFrame({"PassengerID":test_ids.values,
                    "Survived":submission_preds.astype(int)})
df.to_csv("submission.csv",index=False)